@tailwind base;
@tailwind components;
@tailwind utilities;

header {
	@apply bg-slate-400 text-gray-900  dark:bg-slate-600;
}

h1 {
	@apply sm:text-3xl text-2xl py-4;
}

h2 {
	@apply sm:text-2xl text-sm;
}

body {
	@apply sm:text-xl;
}
